body {
    background-color: orange;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0px;
    padding: 0px;
}
.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
    gap: 20px;
}
.item {
    background-color: wheat;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:hover {
    background-color: rgb(71, 183, 220);
    cursor: pointer;
    color: rgb(28, 28, 28);
    transform: scale(1.05);
    transition: all 1s ease;
}
@media (max-width: 800px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}
